{% extends 'base.html.twig' %}

{% block title %}Syndic{% endblock %}

{% block body %}
    <h1>Syndic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ syndic.id }}</td>
            </tr>
            <tr>
                <th>NomSyndic</th>
                <td>{{ syndic.nomSyndic }}</td>
            </tr>
            <tr>
                <th>AdresseSyndic</th>
                <td>{{ syndic.adresseSyndic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_syndic_index') }}">back to list</a>

    <a href="{{ path('app_syndic_edit', {'id': syndic.id}) }}">edit</a>

    {{ include('syndic/_delete_form.html.twig') }}
{% endblock %}
