{% extends 'base.html.twig' %}

{% block title %}PrimeAssurance{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la prime d'assurance de l'année {{ prime_assurance.annee }}</h1>

    {{ include('prime_assurance/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('prime_assurance/_delete_form.html.twig') }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
{% endblock %}
