{% block body %}
    <div class="card-header">
        <h1 class="text-center">Prime Assurance</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for prime_assurance in prime_assurances %}
                <tr>
                    <td>{{ prime_assurance.annee }}</td>
                    <td>{{ prime_assurance.montant }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier la prime d'assurance" type="button" class="btn btn-success" href="{{ path('app_prime_assurance_edit', {residenceId: residence.id, lotId: lot.id, id: prime_assurance.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer la charge" type="button" class="btn btn-danger deleteResidenceLotChild" 
                            data-id="{{ prime_assurance.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="prime-assurance">
                            <i class="fa-solid fa-trash"></i>
                        </span> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_prime_assurance_new', {residenceId: residence.id, lotId: lot.id}) }}">Ajouter une prime d'assurance</a></button>
        </div>
    </div>
{% endblock %}
