{% extends 'base.html.twig' %}

{% block title %}Declaration{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Déclaration</h1>
    <form method="post">
        <select class="form-select" aria-label="Choix residence" id="choix-residence" name="choix-residence">
            <option value="">Choisir une résidence</option>
            {% for residence in residences %}
                <option value="{{ residence.id }}">{{ residence.nomResidence }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-info" type="submit">Choisir</button>
    </form>

    <h2 class="text-center">{{ residence.nomResidence }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N° ligne</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col"></th>
                </tr>
            </thead>
                
            <tbody >
                <tr>
                    <th>210</th>
                    <td>RECETTES</td>
                    <td></td>
                </tr>
                <tr>
                    <th>211</th>
                    <td>Loyers</td>
                    <td>{{ montant211 }}</td>
                </tr>
                <tr>
                    <th>212</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>213</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>214</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>215</th>
                    <td>TOTAL DES RECETTES</td>
                    <td>{{ montant211 }}</td>
                </tr>
                <tr>
                    <th>220</th>
                    <td>FRAIS ET CHARGES</td>
                    <td></td>
                </tr>
                <tr>
                    <th>221</th>
                    <td>Frais d'administration et de gestion</td>
                    <td>{{ montant221 }}</td>
                </tr>
                {% set nbLot = residence.lot|length %}
                <tr>
                    <th>222</th>
                    <td>Autres frais de gestion</td>
                    <td>{{ nbLot * 20 }}</td>
                </tr>
                <tr>
                    <th>223</th>
                    <td>Primes d'assurance</td>
                    <td>{{ montant223 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
