{% extends 'base.html.twig' %}

{% block title %}{{ 'title_declaration'|trans({}, 'declaration') }}{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">{{ 'title_declaration'|trans({}, 'declaration') }}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">{{ 'title_ligne_number'|trans({}, 'declaration') }}</th>
                    <th scope="col">{{ 'title_intitule'|trans({}, 'declaration') }}</th>
                    <th scope="col">{{ 'title_residence_name'|trans({}, 'declaration') }}</th>
                </tr>
            </thead>
                
            <tbody >
                <tr>
                    <th>210</th>
                    <th>Recettes</th>
                    <th>chiffre</th>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
