{% extends 'base.html.twig' %}

{% block title %}MandatSyndic{% endblock %}

{% block body %}
    <h1>MandatSyndic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mandat_syndic.id }}</td>
            </tr>
            <tr>
                <th>DebutMandat</th>
                <td>{{ mandat_syndic.debutMandat ? mandat_syndic.debutMandat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FinMandat</th>
                <td>{{ mandat_syndic.finMandat ? mandat_syndic.finMandat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mandat_syndic_index') }}">back to list</a>

    <a href="{{ path('app_mandat_syndic_edit', {'id': mandat_syndic.id}) }}">edit</a>

    {{ include('mandat_syndic/_delete_form.html.twig') }}
{% endblock %}
