{% extends 'base.html.twig' %}

{% block title %}Modification Lot{% endblock %}

{% block body %}
    <h1 class="text-center">Modification {{ lot.nomLot }}</h1>
    
    <button class="btn btn-secondary" type="button"><a href="{{ path('app_residence_show', {id: residence.id}) }}">Retour résidence</a></button>

    {{ include('lot/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('charge/index.html.twig', {residenceId: residence.id, lotId: lot.id})}}

    {{ include('prime_assurance/index.html.twig', {residenceId: residence.id, lotId: lot.id})}}

    {{ include('mandat_gestionnaire/index.html.twig', {residenceId: residence.id, lotId: lot.id})}}
    {# {{ include('charge/edit.html.twig', {residenceId: residence.id, lotId: lot.id})}} #}


    {# {{ include('lot/_delete_form.html.twig') }} #}
{% endblock %}
