{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>Lot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>NomLot</th>
                <td>{{ lot.nomLot }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ lot.dateAchat ? lot.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateVente</th>
                <td>{{ lot.dateVente ? lot.dateVente|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('app_lot_index') }}">back to list</a> #}

    {# <a href="{{ path('app_lot_edit', {'id': lot.id}) }}">edit</a> #}

    {# {{ include('lot/_delete_form.html.twig', {residenceId: residence.id, id: lot.id}) }} #}
{% endblock %}
