{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1 class="text-center">Liste Entreprises</h1>
    {% for message in app.flashes('success') %}
        <div class="rounded-0 alert alert-info flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="rounded-0 alert alert-danger flash-error">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom Entreprise</th>
                <th>Adresse Entreprise</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nomEntreprise }}</td>
                <td>{{ entreprise.adresseEntreprise }}</td>
                <td>
                    <a data-toggle="tooltip" data-placement="top" title="modifier l'entreprise" type="button" class="btn btn-success" href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <span data-toggle="tooltip" data-placement="top" title="supprimer l'entreprise" type="button" class="btn btn-danger delete" data-id="{{ entreprise.id }}"><i class="fa-solid fa-trash"></i></span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary">
            <a href="{{ path('app_entreprise_new') }}">Ajouter une entreprise</a>
        </button>
    </div>
{% endblock %}
