{% extends 'base.html.twig' %}

{% block title %}Hello RecapitulatifController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Récapitulatif</h1>
    <form method="post">
        <div class="col-3">
            <label for="choix-anne">Choix année</label>
            <select class="mt-2 form-select" aria-label="Choisir une année" id="choix-annee" name="choix-annee" required>
                <option value="">Choisir une année</option>
                {% for annee in annees %}
                    <option value="{{ annee }}"
                        {% if annee == annee_choisie %} selected {% endif %}>
                    {{ annee }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button class="mt-2 btn btn-info" type="submit">Choisir</button>
    </form>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th> <!-- Cellule vide pour l'angle supérieur gauche -->
                {% for residence in residences %}
                    <th scope="col">{{ residence.nomResidence }}</th>
                {% endfor %}
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for recap in recapitulatifs %}
                <tr>
                    <td>{{ recap.libelle }}</td>
                    {# Initialisation total et flag pour savoir s'il y a au moins une valeur #}
                    {% set total = 0 %}
                    {% set hasValue = false %}

                    {% for residence in residences %}
                        {% set valeur = recap.valeurs[residence.nomResidence] ?? null %}
                        <td class="text-center">
                        {% if valeur is not null %}
                                {{ valeur|number_format(2, ',', ' ') }}
                                {% set total = total + valeur %}
                                {% set hasValue = true %}
                            {% else %}
                                -
                            {% endif %}
                    </td>
                    {% endfor %}
                    {# Affichage du total formaté si au moins une valeur présente, sinon '-' #}
                    <td>
                        {% if hasValue %}
                            {{ total|number_format(2, ',', ' ') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
