{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Banques</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomBanque</th>
                <th>AdresseBanque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banque in banques %}
            <tr>
                <td>{{ banque.nomBanque }}</td>
                <td>{{ banque.adresseBanque }}</td>
                <td>
                    <a href="{{ path('app_banque_edit', {'id': banque.id}) }}">edit</a>
                    {{ include('banque/_delete_form.html.twig', {'id': banque.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary">
            <a href="{{ path('app_banque_new') }}">Ajouter une banque</a>
        </button>
    </div>
{% endblock %}
