{% extends 'base.html.twig' %}

{% block title %}TaxeFonciere{% endblock %}

{% block body %}
    <h1>TaxeFonciere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taxe_fonciere.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ taxe_fonciere.annee }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ taxe_fonciere.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_taxe_fonciere_index') }}">back to list</a>

    <a href="{{ path('app_taxe_fonciere_edit', {'id': taxe_fonciere.id}) }}">edit</a>

    {{ include('taxe_fonciere/_delete_form.html.twig') }}
{% endblock %}
