{% extends 'base.html.twig' %}

{% block title %}Résidences{% endblock %}

{% block body %}
    <h1 class="text-center">Liste Résidences</h1>
    {% for message in app.flashes('success') %}
        <div class="rounded-0 alert alert-info flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="rounded-0 alert alert-danger flash-error">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom Résidence</th>
                <th class="text-center">Addresse</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <td>{{ residence.nomResidence }}</td>
                <td class="text-center">{{ residence.addresse }}</td>
                <td class="text-center">
                    <a data-toggle="tooltip" data-placement="top" title="voir la résidence" type="button" class="btn btn-info" href="{{ path('app_residence_show', {'id': residence.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="modifier la résidence" type="button" class="btn btn-success" href="{{ path('app_residence_edit', {'id': residence.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <span data-toggle="tooltip" data-placement="top" title="supprimer la résidence" type="button" class="btn btn-danger delete" data-id="{{ residence.id }}"><i class="fa-solid fa-trash"></i></span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary">
            <a href="{{ path('app_residence_new') }}">Ajouter une Résidence</a>
        </button>
    </div>
{% endblock %}
