{% extends 'base.html.twig' %}

{% block title %}Residence index{% endblock %}

{% block body %}
    <h1 class="text-center">Liste Residences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Residence</th>
                <th>Addresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for residence in residences %}
            <tr>
                <td>{{ residence.nomResidence }}</td>
                <td>{{ residence.addresse }}</td>
                <td>
                    <a href="{{ path('app_residence_show', {'id': residence.id}) }}">show</a>
                    <a href="{{ path('app_residence_edit', {'id': residence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary">
            <a href="{{ path('app_residence_new') }}">Créer Résidence</a>
        </button>
    </div>
{% endblock %}
