{% extends 'base.html.twig' %}

{% block title %}Residence{% endblock %}

{% block body %}
    <h1 class="text-center">{{ residence.nomResidence }}</h1>
    <h3 class="text-center">{{ residence.addresse }}</h3>
    
    {% if taxes_foncieres %}
    <div class="col m-3 card">
        <div class="card-header text-center">
            <h3 class="text-center">Taxe foncière</h3>
        </div>
        <div class="card-body">
            <table class="table card-table">
                <thead>
                    <tr>
                        <th class="text-center">Annee</th>
                        <th class="text-center">Montant</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for taxe in taxes_foncieres %}
                    <tr>
                        <td class="text-center">{{ taxe.annee }}</td>
                        <td class="text-center">{{ taxe.montant }}</td>
                        <td class="text-center align-middle">
                            <div class="form-row">
                            <button class="btn btn-success"><a href={{ path('app_taxe_fonciere_edit', {residenceId: residence.id, id: taxe.id})}}><i class="fa-solid fa-pen-to-square"></i></a></button>
                            {{ include('taxe_fonciere/_delete_form.html.twig', {residenceId: residence.id}) }}
                            </div>
                            
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">aucune donnée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-info"><a href="{{ path('app_taxe_fonciere_new', {residenceId: residence.id})}}">Ajouter taxe foncière</a></button>
        </div>
    </div>
    {% else %}
        <div class="m-3">
            <button class="m-3 btn btn-primary"><a href="{{ path('app_taxe_fonciere_new', {residenceId: residence.id}) }}">Ajouter taxe foncière</a></button>
        </div>
    {% endif %}
    {% if mandats_syndic %}
        {% for mandat_syndic in mandats_syndic %}
            <div class="col-3 m-3 card">
                <div class="card-header text-center h3">
                    Mandat Syndic {{ mandat_syndic.syndic.nomSyndic }}
                </div>
                <div class="card-body">
                    <p>Date début : {{ mandat_syndic.debutMandat|date('d/m/Y')}}</p>
                    <p>Date fin : {{ mandat_syndic.finMandat is empty ? "--" : mandat_syndic.finMandat|date('d/m/Y')}}</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-info"><a href="{{ path('app_mandat_syndic_edit', {residenceId: residence.id, id: mandat_syndic.id }) }}">Modifier Mandat Syndic</a></button>
                    {% if mandat_syndic.finMandat %}
                        <div class="mt-3">
                            <button class="m-3 btn btn-primary"><a href="{{ path('app_mandat_syndic_new', {residenceId: residence.id}) }}">Ajouter Mandat Syndic</a></button>
                            {{ include('mandat_syndic/_delete_form.html.twig', {residenceId: residence.id, id: mandat_syndic.id}) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="m-3">
            <button class="m-3 btn btn-primary"><a href="{{ path('app_mandat_syndic_new', {residenceId: residence.id}) }}">Ajouter Mandat Syndic</a></button>
        </div>
    {% endif %}
    <div class="row row-cols-3">
        {% for lot in lots %}
            <div class="col">
                <div class="mt-3 mb-3 me-3 card">
                    <div class="card-header text-center h3">
                        {{ lot.nomLot }}
                    </div>
                    <div class="card-body">
                        <p>Date achat : {{ lot.dateAchat ? lot.dateAchat|date('d/m/Y') : '' }}</p>
                        <p>Date vente : {{ lot.dateVente ? lot.dateVente|date('d/m/Y') : '-' }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info"><a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id})}}">Modifier Lot</a></button>
                        {{ include('lot/_delete_form.html.twig', {residenceId: residence.id, id: lot.id}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="ms-3 btn btn-primary"><a href="{{ path('app_lot_new', {residenceId: residence.id})}}">Créer lot</a></button>
    <button class="ms-3 btn btn-secondary"><a href="{{ path('app_residence_index') }}">Liste résidences</a></button>
    <button class="ms-3 btn btn-info"><a href="{{ path('app_residence_edit', {'id': residence.id}) }}">Modifier Résidence</a></button>

    {{ include('residence/_delete_form.html.twig') }}
{% endblock %}
