{% extends 'base.html.twig' %}

{% block title %}FraisGestion{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier Frais de Gestion de {{ frais_gestion.mois }}-{{ frais_gestion.annee }}</h1>

    {{ include('frais_gestion/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_lot_edit', {residenceId: residence.id, id: lot.id }) }}">Retour {{ lot.nomLot }}</a>
    </button>
    <button class="btn btn-secondary" type="button">
        <a href="{{ path('app_mandat_gestionnaire_edit', {residenceId: residence.id, lotId: lot.id, id: mandat_gestionnaire.id }) }}">Retour Mandat Gestionnaire</a>
    </button>
{% endblock %}
