{% block body %}
    <div class="card-header">
        <h1 class="text-center">Frais de Gestion</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Mois</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for frais_gestion in frais_gestions %}
                <tr>
                    <td>{{ frais_gestion.annee }}</td>
                    <td>{{ frais_gestion.mois }}</td>
                    <td>{{ frais_gestion.montant }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier le frais de gestion" class="btn btn-success"href="{{ path('app_frais_gestion_edit', {residenceId: residence.id, lotId: lot.id, mandatGestionnaireId: mandat_gestionnaire.id, id: frais_gestion.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer le frais de gestion" type="button" class="btn btn-danger deleteResidenceLotOtherChild" 
                            data-id="{{ frais_gestion.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-child-keyword="mandatGestionnaire" data-child-id="{{ mandat_gestionnaire.id }}" data-url="{{ domain_name }}" data-keyword="fraisGestion">
                            <i class="fa-solid fa-trash"></i>
                        </span> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_frais_gestion_new', {residenceId: residence.id, lotId: lot.id, mandatGestionnaireId: mandat_gestionnaire.id}) }}">Ajouter un frais de gestion</a></button>
        </div>
    </div>
{% endblock %}
