{% block body %}
<div class="m-3 col-6 card">
    <div class="card-header">
        <h1 class="text-center">Mandat Gestionnaire</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Nom Gestionnaire</th>
                    <th>Début Mandat</th>
                    <th>Fin Mandat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for mandat_gestionnaire in mandat_gestionnaires %}
                <tr>
                    <td>{{ mandat_gestionnaire.gestionnaire.nomGestionnaire }}</td>
                    <td>{{ mandat_gestionnaire.debutMandat ? mandat_gestionnaire.debutMandat|date('d/m/Y') : '-' }}</td>
                    <td>{{ mandat_gestionnaire.finMandat ? mandat_gestionnaire.finMandat|date('d/m/Y') : '-' }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier le mandat gestionnaire" type="button" class="btn btn-success" href="{{ path('app_mandat_gestionnaire_edit', {residenceId: residence.id, lotId: lot.id, id: mandat_gestionnaire.id })}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {# <span data-toggle="tooltip" data-placement="top" title="supprimer le mandat gestionnaire" type="button" class="btn btn-danger delete" data-id="{{ mandat_gestionnaire.id }}"><i class="fa-solid fa-trash"></i></span> #}

                        {{ include('mandat_gestionnaire/_delete_form.html.twig', {residenceId: residence.id, lotId: lot.id}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_mandat_gestionnaire_new', {residenceId: residence.id, lotId: lot.id}) }}">Ajouter un mandat de gestion</a></button>
        </div>
    </div>
</div>
{% endblock %}
