{% extends 'base.html.twig' %}

{% block title %}MandatGestionnaire{% endblock %}

{% block body %}
    <h1>MandatGestionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mandat_gestionnaire.id }}</td>
            </tr>
            <tr>
                <th>DebutMandat</th>
                <td>{{ mandat_gestionnaire.debutMandat ? mandat_gestionnaire.debutMandat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FinMandat</th>
                <td>{{ mandat_gestionnaire.finMandat ? mandat_gestionnaire.finMandat|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mandat_gestionnaire_index') }}">back to list</a>

    <a href="{{ path('app_mandat_gestionnaire_edit', {'id': mandat_gestionnaire.id}) }}">edit</a>

    {{ include('mandat_gestionnaire/_delete_form.html.twig') }}
{% endblock %}
