{% block body %}
    <div class="card-header">
        <h1 class="text-center">Travaux</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Date Travaux</th>
                    <th>Type Travaux</th>
                    <th>Montant Travaux</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for travaux in travauxes %}
                <tr>
                    <td>{{ travaux.entreprise.nomEntreprise }}</td>
                    <td>{{ travaux.dateTravaux ? travaux.dateTravaux|date('Y-m-d') : '' }}</td>
                    <td>{{ travaux.typeTravaux }}</td>
                    <td>{{ travaux.montantTravaux }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier" type="button" class="btn btn-success" href="{{ path('app_travaux_edit', {residenceId: residence.id, lotId: lot.id, id: travaux.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer" type="button" class="btn btn-danger deleteResidenceLotChild" 
                            data-id="{{ travaux.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="travaux">
                            <i class="fa-solid fa-trash"></i>
                        </span> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_travaux_new', {residenceId: residence.id, lotId: lot.id}) }}">Ajouter des travaux</a></button>
        </div>
    </div>
{% endblock %}
