{% block body %}
<div class="m-3 col-6 card">
    <div class="card-header">
        <h1 class="text-center">Loyers</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Mois</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for loyer in loyers %}
                <tr>
                    <td>{{ loyer.annee }}</td>
                    <td>{{ loyer.mois }}</td>
                    <td>{{ loyer.montant }}</td>
                    <td>
                        <button class="btn btn-info"><a href="{{ path('app_loyer_edit', {residenceId: residence.id, lotId: lot.id, locationId: location.id, id: loyer.id })}}">Modifier</a></button>
                        {{ include('loyer/_delete_form.html.twig', {residenceId: residence.id, lotId: lot.id, locationId: location.id}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_loyer_new', {residenceId: residence.id, lotId: lot.id, locationId: location.id}) }}">Ajouter Loyer</a></button>
        </div>
    </div>
</div>
{% endblock %}
