{% block body %}
    <div class="card-header">
        <h1 class="text-center">Loyers</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Mois</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for loyer in loyers %}
                <tr>
                    <td>{{ loyer.annee }}</td>
                    <td>{{ loyer.mois }}</td>
                    <td>{{ loyer.montant }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier le loyer" type="button" class="btn btn-success" href="{{ path('app_loyer_edit', {residenceId: residence.id, lotId: lot.id, locationId: location.id, id: loyer.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer le loyer" type="button" class="btn btn-danger deleteResidenceLotOtherChild" 
                            data-id="{{ loyer.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="loyer" data-child-keyword="location" data-child-id="{{ location.id }}">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                        <a data-toggle="tooltip" data-placement="top" title="dupliquer le loyer" type="button" class="btn btn-info" href="{{ path('app_loyer_duplicate', {residenceId: residence.id, lotId: lot.id, locationId: location.id, id: loyer.id}) }}">
                            <i class="fa-solid fa-copy"></i>
                        </a>
                        {% if loyer.commentaire %}
                            <a data-bs-toggle="modal" data-bs-target="#commentaireLoyer" data-commentaire="{{ loyer.commentaire }}" type="button" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>                            
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_loyer_new', {residenceId: residence.id, lotId: lot.id, locationId: location.id}) }}">Ajouter Loyer</a></button>
        </div>
    </div>

    <div class="modal fade" id="commentaireLoyer" tabindex="-1" aria-labelledby="commentaireLoyerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentaireLoyerLabel">Commentaire loyer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="loyerCommentaire"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
