{% block body %}
    <div class="card-header">
        <h1 class="text-center">Caf</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Mois</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for caf in cafs %}
                <tr>
                    <td>{{ caf.annee }}</td>
                    <td>{{ caf.mois }}</td>
                    <td>{{ caf.montantCaf }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier la caf" type="button" class="btn btn-success" href="{{ path('app_caf_edit', {residenceId: residence.id, lotId: lot.id, locationId: location.id, id: caf.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer la caf" type="button" class="btn btn-danger deleteResidenceLotOtherChild" 
                            data-id="{{ caf.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="caf" data-child-keyword="location" data-child-id="{{ location.id }}">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_caf_new', {residenceId: residence.id, lotId: lot.id, locationId: location.id}) }}">Ajouter CAF</a></button>
        </div>
    </div>
{% endblock %}
