{% block body %}
    <div class="card-header">
        <h1 class="text-center">Charges</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th class="text-center">Mois</th>
                    <th class="text-center">Montant</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for charge in charges %}
                <tr>
                    <td>{{ charge.annee }}</td>
                    <td class="text-center">{{ charge.mois }}</td>
                    <td class="text-center">{{ charge.montant }}</td>
                    <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="modifier la charge" type="button" class="btn btn-success" href="{{ path('app_charge_edit', {residenceId: residence.id, lotId: lot.id, id: charge.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span data-toggle="tooltip" data-placement="top" title="supprimer la charge" type="button" class="btn btn-danger deleteResidenceLotChild" 
                            data-id="{{ charge.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="charge">
                            <i class="fa-solid fa-trash"></i>
                        </span> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_charge_new', {residenceId: residence.id, lotId: lot.id}) }}">Ajouter charge</a></button>
        </div>
    </div>
    
{% endblock %}