{% extends 'base.html.twig' %}

{% block title %}Charge{% endblock %}

{% block body %}
    <h1>Charge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ charge.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ charge.annee }}</td>
            </tr>
            <tr>
                <th>Mois</th>
                <td>{{ charge.mois }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ charge.montant }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('app_charge_index') }}">back to list</a> #}
{#  #}
    {# <a href="{{ path('app_charge_edit', {'id': charge.id}) }}">edit</a> #}

    {# {{ include('charge/_delete_form.html.twig') }} #}
{% endblock %}
