{% block body %}
    <div class="card-header">
        <h1 class="text-center">Intérêts</h1>
    </div>
    <div class="card-body">
        <table class="table card-table">
            <thead>
                <tr>
                    <th>Année</th>
                    <th>Montant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for interet in interets %}
                <tr>
                    <td>{{ interet.annee }}</td>
                    <td>{{ interet.montantInteret }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="modifier l'intérêt" type="button" class="btn btn-success" href="{{ path('app_interet_edit', {residenceId: residence.id, lotId: lot.id, empruntId: emprunt.id, id: interet.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {# <span data-toggle="tooltip" data-placement="top" title="supprimer la charge" type="button" class="btn btn-danger deleteResidenceLotChild" 
                            data-id="{{ charge.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-url="{{ domain_name }}" data-keyword="charge">
                            <i class="fa-solid fa-trash"></i>
                        </span>  #}
                        <span data-toggle="tooltip" data-placement="top" title="supprimer l'intérêt" type="button" class="btn btn-danger deleteResidenceLotOtherChild" 
                            data-id="{{ interet.id }}" data-residence-id="{{ residence.id }}" data-lot-id="{{ lot.id }}" data-child-keyword="emprunt" data-child-id="{{ emprunt.id }}" data-url="{{ domain_name }}" data-keyword="interet">
                            <i class="fa-solid fa-trash"></i>
                        </span> 
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune donnée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary"><a href="{{ path('app_interet_new', {residenceId: residence.id, lotId: lot.id, empruntId: emprunt.id }) }}">Ajouter un intérêt</a></button>
        </div>
    </div>
{% endblock %}
